*{
    margin: 0%;
    padding: 0%;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    height: 13%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: fixed;
    border: 1px solid black;
    background-color: white;
}

#hiddenheader{
    height: 13%;
    width: 100%;
}

.logo{
    display: flex;
}

.right ul{
    display: flex;
}
.right ul li{
    list-style: none;
    padding: 10px;
}
.right ul li:hover{
    color: rgb(221, 7, 7);
}

@media only screen and (min-width: 500px) and (max-width: 2000px){
    main{
        height: 87%;
        display: flex;
    }
    
    .intro{
        height: 100%;
        width: 50%;
        
    }
    
    .intro h1{
        margin: 20% 5% 0% 20%;
    }
    .intro p{
        margin:5% 5% 0% 20%;
        letter-spacing: 2px;
    }
    
    .photo{
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    
    .photo img{
        width: 70%;
        margin:15% 20% 15% 0%;
    }
    
}

@media only screen and (min-width: 0px) and (max-width: 499px){
    main{
        display: flex;
        flex-wrap: wrap;
    }
    
    .intro{
        height: 100%;
        width: 1000%;
        
    }
    
    .intro h1{
        margin: 5%;
    }
    .intro p{
        margin: 5%;
        letter-spacing: 2px;
    }
    
    .photo{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
    }
    
    .photo img{
        width: 85%;
        margin: 5%
    }
    
}


#ftr{
    height: 5%;
    width: 100%;
    border-top: 1px solid black;
    font-weight:lighter;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}
